<div class="ng-left">
    <div class="left-tab">
        <div class="ng-list">
            <div class="list-div">客户管理</div>
            <ul class="list-ul">
                <li data-ige="whole" ng-class="{'whole':'nativeColor'}[mige]" ng-click="chaManige($event)">批发客管理</li>
                <li data-ige="retail" ng-class="{'retail':'nativeColor'}[mige]" ng-click="chaManige($event)">零售客管理</li>
            </ul>
        </div>
        <div class="ng-list">
            <div class="list-div">客户分类</div>
            <ul class="list-ul">
                <li data-ige="dj" ng-class="{'dj':'nativeColor'}[mige]" ng-click="chaManige($event)">等级分类</li>
                <li data-ige="bq" ng-class="{'bq':'nativeColor'}[mige]" ng-click="chaManige($event)">标签分类</li>
            </ul>
        </div>
    </div>
</div>
<div id="ng-right" ui-view></div>